<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.grapecity.xf.FlexViewer101" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<application android:label="FlexViewer101.Android" android:theme="@style/MyTheme"></application>&gt;
</manifest>