<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="2019.1.4.01" package="com.grapecity.xf.C1Weather" android:versionCode="3">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="C1Weather" android:theme="@style/MyTheme"></application>
</manifest>