<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.grapecity.xf.C1Calendar101">
	<uses-sdk android:minSdkVersion="17" />
	<application android:icon="@mipmap/icon" android:label="C1Calendar101" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>