<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add the private NuGet package source for this solution -->
    <add key="Local Packages" value="..\..\..\GcPdf\package\"/>

  </packageSources>
  <!--<fallbackPackageFolders>
    <add key="Local Packages" value="..\..\..\GcPdf\package\"/>
  </fallbackPackageFolders>-->
</configuration>
