<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.CollectionView" version="2.4.20173.234" targetFramework="xamarinmac20" />
  <package id="C1.Mac.CollectionView" version="2.4.20173.234" targetFramework="xamarinmac20" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="xamarinmac20" />
</packages>