<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.grapecity.android.FlexGrid101" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="FlexGrid101"></application>
	<!--android:theme="@android:style/Theme.Material.Light"-->
</manifest>